.image1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.imgsolo {
    margin: 10px;
}

.image2 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    
}

.navigation {
    display:flex;
}